---
// import Global Styles Folder
import '../styles/global.css';

// import Layouts
import MainLayout from '../Layout/MainLayout.astro';
import ServiceSection from '../Layout/ServiceSection.astro';

// Information about the currently page
const title = 'Working on something great!';

const description =
  'A website created to showcase the amazing work that this great human beign has been done, trhough all this years. Leanna Deeb';

const image = '/hero-img/hero-img1.png';
---

<MainLayout
  title={title}
  MainTitle={title}
  PageDescription={description}
  image={image}
>
  <!-- ===================================== -->
  <!--Aqui empieza el contenido de la pagina-->
  <!-- ===================================== -->
  <section class="intro">
    <h2 class="intro__h2">What was this site made for?</h2>
    <p class="intro__p">
      Have you ever had a burning desire to make a vision come to life? You want
      it so bad that you move with so much self belief that one day it will
      actually happen. No matter what, life will throw challenges your way,
      people will tell you your dream is not possible. You can either let people
      dictate your life or you can move with intent every single day until you
      make that dream your reality. , is showing the world how to become the
      best version of yourself. With her amazin personalitie has shown thousand
      of people for all over the world, how
      <span class="intro__p intro__p--red">pushing ourselves</span>
      beyond any limits and really prepare
      <span class="intro__p intro__p--red">
        our minds for training strong all year long.
      </span>
    </p>
    <p class="intro__p">
      It's about
      <span class="intro__p intro__p--red"> endurance, conditioning</span>
      and
      <span class="intro__p intro__p--red">mental strength.</span>
    </p>
  </section>
  <!--Coming Soon-->
  <!--<section class="where-to-find-us"></section>-->
</MainLayout>

<style>
  .intro {
    background-color: hsla(239, 96%, 10%);
    color: hsl(0, 0%, 95%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1.5rem;
    padding: min(3vh, 5rem) 1rem;
  }
  .intro__h2 {
    font-size: clamp(2rem, 1rem + 5vw, 3.2rem);
  }
  .intro__p {
    /* font-size: 2em; */
    /* text-align: center; */
  }
  .intro__p--red {
    color: hsl(205, 90%, 69%);
  }

  @media (min-width: 1024px) {
    .intro {
      align-items: flex-start;
      padding: 5%;
      height: 88vh;
    }
    .intro__parag {
      text-align: start;
      font-weight: 400;
    }
  }
</style>
