---
---

<!--The email form subscription-->
<div class="email-form">
  <div class="email-form__text">
    <span>Hey there</span>
    <h2>
      Let's talk <span class="h2__sports">Sport</span>
    </h2>
    <span>Subscribe to our newsletter.</span>
    <span class="material-symbols-outlined">mail</span>
  </div>
  <form name="email-form__newsletter" action="#" method="get">
    <input class="email" type="email" name="email-news" />
    <input class="button" type="submit" value="subscribe" />
  </form>
</div>
