---
import Link from './Links.astro';

const { MainTitle, PageDescription, image } = Astro.props;
---

<main class="cover">
  <div class="cover__text">
    <h1 class="cover__h1">{MainTitle}</h1>
    <p class="cover__p">{PageDescription}</p>
    <div class="cover__links">
      <Link
        text="Read the last post"
        href="/sections/index.astro"
        style="link--1"
      />
      <Link
        text="Go to the official web site"
        href="/sections/index.astro"
        style="link--2"
      />
    </div>
  </div>
  <img class="cover__image" src={image} alt="Leanna deeb siting on a couch" />
</main>

<style>
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    margin: 3rem 0;
    overflow: hidden;
  }

  .cover__text {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    row-gap: 2em;
  }

  .cover__h1 {
  }

  .cover__p {
    color: hsl(0, 0, 60%);
  }

  .cover__links {
    display: flex;
    justify-content: center;
    gap: 0.8em;
    flex-wrap: wrap;
  }
  .cover__image {
    object-fit: cover;
    object-position: center;
    width: min(80%, 100%);
    aspect-ratio: 16/9;
    border-radius: 1rem;
    box-shadow: 0 0 2rem grey;
  }
</style>
