---
import Link from './Links.astro';

const { MainTitle, PageDescription, image } = Astro.props;
---

<main class="cover">
  <div class="cover__text">
    <h1 class="cover__h1">{MainTitle}</h1>
    <p class="cover__p">{PageDescription}</p>
    <div class="cover__links">
      <Link
        text="Read the last post"
        href="/sections/index.astro"
        style="link--1"
      />
      <Link
        text="Go to the official web site"
        href="/sections/index.astro"
        style="link--2"
      />
    </div>
  </div>
  <img class="cover__image" src={image} alt="Leanna deeb siting on a couch" />
</main>

<style>
  .cover,
  .cover__text,
  .cover__links {
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 65%);
  }
  .cover,
  .cover__text {
    flex-direction: column;
    row-gap: 3rem;
  }
  .cover {
    align-items: center;
    overflow: hidden;
    padding-top: 8rem;
    text-align: center;
  }

  .cover__h1 {
    font-weight: 800;
    color: hsl(0, 0%, 95%);
  }

  .cover__links {
    gap: 0.8em;
    flex-wrap: wrap;
  }
  .cover__image {
    object-fit: cover;
    object-position: center;
    width: min(50em, 100%);
    aspect-ratio: 3/2;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem hsl(243, 32%, 5%);
  }
</style>
