---
// import Global Styles Folder
import '../styles/global.css';

// import Layout
import MainHeader from './MainHeader.astro';

import MainFooter from './MainFooter.astro';

// import components
import Head from '../Components/Head.astro';

// important information for the Main component
const { title, MainTitle, PageDescription, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <>
    <Head {title} />
    <MainHeader />
    <body>
      <div class="wrapper">
        <slot />
      </div>
      <MainFooter />
    </body>
  </>
</html>
