---
import Nav from "../Components/Nav.astro";
---

<header class="header top-nav">
    <div class="header__message">
        <a class="header__link header__link--oficial" href="https://liftwithleana.com/" target="_blank"
            >This is not a offical website. Click this link to go to offical Leanna Deeb website</a
        >
    </div>
    <Nav />
</header>
<!--Barra de navegación para toda la pagina. **LEFT** -->

<style>
    .header {
        position: fixed;
        inset: 0 0 auto 0;
        z-index: 999;
        display: flex;
        flex-flow: column;
        width: 100%;
        background-color: hsl(0, 0%, 100%, 0.5);
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(1rem);
        color: hsl(0, 0%, 100%);
    }
    .header__message {
        text-align: center;
        background-color: hsl(231, 69%, 10%);
        padding: .5rem 0;
    }
    .header__link {
        font-size: 1rem;
    }
    .header__link--oficial {
        color: hsl(0, 0%, 98%);
    }
</style>
