---
import services from '../Data/servicesData';
---

<!--This is the section where the workouts are displayed-->
<section class="workouts full-body">
  <!--Workouts containers-->
  <a href="/sections/post-1" target="_blank">
    <div class="workouts__containers">
      <span class="workouts__level">Beginner</span>
      <div class="workouts__info">
        <h3>Full body</h3>
        <p class="workouts__p">
          A full body workout to start getting this new healthy habit. A
          complete workout for beginners.
        </p>
      </div>
    </div>
  </a>
</section>
