---
---

<!--This is the section where the workouts are displayed-->
<section class="workouts full-body">
  <!--Workouts containers-->
  <a href="pages/FullBody.html" target="_blank">
    <div class="workouts__containers">
      <span class="workouts__level">Beginner</span>
      <div class="workouts__info">
        <h3>Full body</h3>
        <p class="workouts__p">
          A full body workout to start getting this new healthy habit. A
          complete workout for beginners.
        </p>
      </div>
    </div>
  </a>
  <!--Workouts containers-->
  <a href="pages/GlutesWO.html" target="_blank">
    <div class="workouts__containers lower-body">
      <span class="workouts__level">intermediate</span>
      <div class="workouts__info">
        <h3>Lower body</h3>
        <p class="workouts__p">
          Workout from the new set of challenges. Focusing on your lower body:
          core, gluteus,and legs.
        </p>
      </div>
    </div>
  </a>
  <!--Workouts containers-->
  <a href="pages/StrechtExe.html" target="_blank">
    <div class="workouts__containers stretching">
      <span class="workouts__level">Advance</span>
      <div class="workouts__info">
        <h3>Stretching</h3>
        <p class="workouts__p">
          An essential practice for the everyday exercise is without any doubt,
          stretching. Do not miss it!
        </p>
      </div>
    </div>
  </a>
</section>
